# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\user\Desktop\2021-0\SW2\labs\LAB2-GIT\lab2_20161838_20170736\dashboard\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
